@import '../../../styles/conf/index.scss';

// Vars
$btn-padding_v  : 8px !default;
$btn-padding_h  : 24px !default;


// Mixins
@mixin btn_palette(
  $color-main: $themeColor_1,
  $color-sec : smartColor($color-main, $white, $themeColor_1, 90)
) {
	color     : $color-sec;
	background: $color-main;
	border    : 1px $color-main solid;

	&:hover,
	&:focus {
		color       : $color-main;
		background  : $color-sec;
		border-color: $color-main;
	}
}

// Block
.btn{
  position       : relative;
  min-width      : 100px;
  padding        : $btn-padding_v $btn-padding_h;
  font-size      : 14px;
  cursor         : pointer;
  text-decoration: none;
	outline        : none !important;
	font-weight    : bold; 
  letter-spacing : 0.8px;

	@include rounded();
	@include shadow();
  @include transition($time:0.20s);

  // Status
  @include btn_palette();
  &:active,
  &.active{
    @include shadow()
  }
	&:disabled,
	&[disabled]{
		background  : $colorState_disable !important;
		border-color: $colorState_disable !important;
		color       : $fontColor_disable;
		box-shadow  : none !important;
		cursor      : not-allowed;
		@include opacity(0.8);
	}

  // Modifiers

	// Options
	&--large{
		min-width: 200px;
	}
	&--auto{
		min-width: auto;
	}

	// Styles
	&--main   { @include btn_palette(); }
	&--sec    { @include btn_palette($themeColor_2);}
  &--green  { @include btn_palette($green); }
	&--red    { @include btn_palette($red); }
	&--orange { @include btn_palette($orange); }
	&--white  { @include btn_palette($white); }

  &--black  { @include btn_palette($black); }
	&--grey   { @include btn_palette($grey); }
	&--blue   { @include btn_palette($blue); }
    
  &--info   { @include btn_palette($colorState_info); }
  &--success{ @include btn_palette($colorState_success); }
  &--warning{ @include btn_palette($colorState_warning); }
  &--danger { @include btn_palette($colorState_danger); }
}
