
$border-radious: 6px   !default;
$border-style  : solid !default;
$border-width  : 1px   !default;
$border-color  : $themeColor_2 !default;
$border        : $border-style $border-width $border-color !default;
