
// Basic colors
$black    : #000000 !default;
$black2   : #4c4c4c !default;
$white    : #FFFFFF !default;
$white2   : #ECEEE3 !default;
$grey     : #797d86 !default;
$grey2    : #595e69 !default;
$grey3    : #f1f1f1 !default;
$red      : #ff0000 !default;
$yellow   : #F5DF6C !default;
$orange   : #f57c00 !default;
$turquoise: #00bcd4 !default;
$pink     : #ff006b !default;
$blue     : #2196f3 !default;
$purple   : #8c5888 !default;
$green    : #3bc84c !default;


// State colors
$colorState_info   : #337ab7 !default;
$colorState_success: #5cb85c !default;
$colorState_warning: #f0ad4e !default;
$colorState_danger : #d9534f !default;
$colorState_disable: #DDDDDD !default;

$states: (
  // name   : (mainColor, backgroundColor)
  'info'    : ($colorState_info   , lighten($colorState_info, 30%)),
  'success' : ($colorState_success, lighten($colorState_success, 30%)),
  'warning' : ($colorState_warning, lighten($colorState_warning, 30%)),
  'danger'  : ($colorState_danger , lighten($colorState_danger, 30%)),
  'disable' : ($colorState_disable, lighten($colorState_disable, 30%))
);


// Theme colors
$themeColor_1 : $green !default;
$themeColor_2 : $white !default;
$themeColor_3 : desaturate(adjust-hue($themeColor_1, 180), 10) !default;;
$themeColor_BG: $white !default;

$fontColor_white  : $white  !default;
$fontColor_grey   : $grey   !default;
$fontColor_black  : $black2 !default;
$fontColor_disable: darken($colorState_disable, 20%) !default;