
$font-size          : 16px !default;
$font-weight        : 400 !default;
$font-weight-regular: $font-weight !default;
$font-weight-bold   : 700 !default;
$font-family        : 'Lato', sans-serif !default;
$font-family-elegant: 'Cinzel Decorative', cursive !default;

// Mixins
@mixin font() {
  font-family: $font-family;
}
@mixin font-regular() {
  font-weight: $font-weight;
}
@mixin font-bold() {
  font-weight: $font-weight-bold;
}
@mixin font-elegant() {
  font-family: $font-family-elegant;
}