
@import "./_breakpoints.scss";
@import "./_colors.scss";
@import "./_fonts.scss";
@import "./_borders.scss";


$grid-columns     : 12;
$grid-gutter-width: 30px;
$shadow           : 0 0 12px 4px rgba(0, 0, 0, .2);
$input-height     : 32px !default;
