/*
Visible just in some browsers

For more options and information:
https://css-tricks.com/custom-scrollbars-in-webkit/
*/


@mixin scrollbars (
  $color_main :  darken($themeColor_2, 20%),
  $color_sec  : lighten($color_main  , 40%),
  $size       : 12px
){
  ::-webkit-scrollbar {
    width : $size;
    height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background : $color_main;
    border     : $color_sec 2px solid;
    @include rounded($size);
  }
  ::-webkit-scrollbar-track {
    background: $color_sec;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color : $color_main;
    scrollbar-track-color: $color_sec;
  }

  // When abbandon window
  ::-webkit-scrollbar-thumb:window-inactive {
    background: mix($themeColor_2, $color_sec);
  }


  /* For the "inset" look only */
  /* Add this code for show it on mobile */
  // html {
  //   overflow: auto;
  // }
  // body {
  //   position   : absolute;
  //   top        : 0;
  //   left       : 0;
  //   bottom     : 0;
  //   right      : 0;
  //   padding    : 0;
  //   overflow-y : auto;
  //   overflow-x : hidden;
  // }
}

@include scrollbars();