@import '../../../styles/conf/index.scss';

.styleguideExample.container,
.styleguideExample.container-fluid {
  div {
    padding: 2px;
  p {
    margin : 0;
    padding: 8px;
    @include rounded();
  }

  &:nth-child(6n + 0) { p{ background: $green }}
  &:nth-child(6n + 1) { p{ background: $blue }}
  &:nth-child(6n + 2) { p{ background: $yellow }}
  &:nth-child(6n + 3) { p{ background: $purple }}
  &:nth-child(6n + 4) { p{ background: $orange }}
  &:nth-child(6n + 5) { p{ background: $turquoise }}
  }
}
