@import '../../../styles/conf/index.scss';

// Vars
$grid-columns: 12 !default;

// Mixins
@mixin make-rows (
  $prefix : 'col',
  $columns: $grid-columns
) {
  $colSize: (100% / $grid-columns);

  @for $index from 1 through $columns {
    $w: decimal-round(($colSize * $index), 4);

    .#{$prefix}-#{$index} {
      width: $w;
    }

    .#{$prefix}-pull-#{$index} {
      left: -1 * $w;
    }

    .#{$prefix}-push-#{$index} {
      left: $w;
    }

    .#{$prefix}-offset-#{$index} {
      margin-left: $w;
    }
  }
}

// Boilerplate
.col {
  float     : left;
  width     : 100%;
  box-sizing: border-box;
  padding   : 4px;

  &--elastic {
    @include transition(width);
  }
}
@include make-rows($prefix-xs);
@media (min-width: $bp_sm) { @include make-rows($prefix-sm); }
@media (min-width: $bp_md) { @include make-rows($prefix-md); }
@media (min-width: $bp_lg) { @include make-rows($prefix-lg); }