@mixin transform ($transformation) {
  @include css3-prefix('transform', $transformation);
}
@mixin transform-origin ($origin: center center) {
  @include css3-prefix('transform-origin', $origin);
}
@mixin transform-style ($style: preserve-3d) {
  @include css3-prefix('transform-style', $style);
}

@mixin rotate (
  $angle : 180deg,
  $x-axis: 50%,
  $y-axis: 50%
) {
  @include transform(rotate($angle));
  @include transform-origin($x-axis $y-axis);
}
@mixin scale (
  $value : 1,
  $x-axis: 50%,
  $y-axis: 50%
) {
  @include transform(scale($value));
  @include transform-origin($x-axis $y-axis);
}